<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a id="navBarAppTitle" class="navbar-brand weconnect" href="#">
            <span class="we">We</span>Connect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                        <span class="sr-only">(current)</span>

                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="weconnect">
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a businessID="" class="dropdown-item text-capitalize" href="sign-up.html">sign-up</a>
                                <a businessID="" class="dropdown-item text-capitalize" href="sign-in.html">sign-in</a>
                                <a businessID="" class="dropdown-item text-capitalize" href="Register-business.html">Register business</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">coming Soon!</a>
                            </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 fluid" type="search" placeholder="search businesses" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="justify-content-center row">
            <span id="jumbotronMainText" class="h1 text-center col-12 no-gutters mx-auto"></span>
            <span class="text-center">
                <span id="jumbotronSubText" class="jumbotronSubText align-middle"></span>
                <a class="btn text-capitalize jumbotronSubText font-underline" href="#">
                    <u>join us</u>
                </a>
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <main class="container-fluid mb-3 col-md-8 order-md-4 ">
                <p class="">
                    <span class="lead ">Welcome to
                        <span class="weconnect">
                            <span class="we">We</span>Connect</span>.</span> A platform that brings businesses and individuals together. This
                    platform creates awareness for businesses and gives the users the ability to write reviews about the
                    businesses they have interacted with. </p>

                <!-- carousel -->
                <div id="mainCarousel" class="carousel slide sticky-top" data-interval="3000" data-ride="carousel">
                    <p class="card-text">
                        <b>chuks Cosmetics offers makeup, skincare and beauty products made with high-performance naturals.
                            <br /> Discover our cruelty-free and eco-friendly makeup today. chuks cosmetics.</b>
                    </p>
                    <!--business details-->
                    <div class="container-fluid ">
                        <div class="row">

                            <div class="row col-sm-7">

                                <p class="container-fluid text-align-center"><b>DETAILS:</b> </p>
                                <div class="col-sm-5 col-xs-1 tital ">location:</div>
                                <div class="col-sm-7">Lagos</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">business name:</div>
                                <div class="col-sm-7"> Chuks Cosmetics</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                                <div class="col-sm-7">amaechichuks2000yahoo.com</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">phone:</div>
                                <div class="col-sm-7">+234 706 8566 559</div>

                            </div>

                        </div>
                    </div>
                    <!--/.business details-->
                    <!--reviews-->
                    <form>
                        <div class="form-group">
                            <div class="row col-md-6">
                                <label for="FormControl">
                                    <h6>Reviews</h6>
                                </label>
                                <select multiple class="form-control" id="FormControl">
                                    <option>1.since i relocated to lagos, chuks comestics has been my choice </option>
                                    <option>2.i like your product and its reliable</option>
                                    <option>3.abeg if e no be chuks comestics, e no be cosmetics jari</option>
                                    <option>4. i love their products</option>
                                </select>
                            </div>
                        </div>



                    </form>
                    <!--/.business details-->
                    <!--reviews-->

                    <!-- carousel -->
            </main>

            <aside class="col-md-2 order-md-1 col-lg">
                <h2 class="d-md-none h3 text-center p-1 mt-4 bg-dark colorWhite"></h2>

                </h2>
                <div class="card text-center mb-2">
                    
                    <img class="card-img-top " src="./images/beauty/Beauty-image.jpg" alt="Business Image">

                    <img class="card-img-top" src="./images/beauty/Beauty-image02.jpg" alt="Business Image">


                </div>


                </div>
        </div>


        <!--Footer-->
        <footer class="pt-4 mt-4 bg-dark">

            <!--Footer Links-->
            <div class="container-fluid text-center text-md-left">
                <div class="row">

                    <!--First column-->
                    <div class="col-md-6">
                        <h5 id="footerAppTitle" class="text-uppercase weconnect">
                            <span class="we">We</span>Connect</h5>
                        <p>Connecting People... What are you waiting for?</p>
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="col-md-6">
                        <h5 class="text-uppercase">Useful Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#!">Contents Guidelines</a>
                            </li>
                            <li>
                                <a href="#!">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                </div>
            </div>
            <!--/.Footer Links-->
            <hr />
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                    copyright © WeConnect 2018: Developer
                    <span id="copyright"> Amaechi </sp>

                </div>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->



        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- Custom  Javascript -->
        <script src="./js/main.js"></script>

</body>

</html>