<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a id="navBarAppTitle" class="navbar-brand weconnect" href="#">
            <span class="we">We</span>Connect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="weconnect">
                            <span class="we">We</span>Connect</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-header">Top businesses</a>
                        <a businessID="" class="dropdown-item text-capitalize" href="sign-up.html">sign-up</a>
                        <a businessID="" class="dropdown-item text-capitalize" href="sign-in.html">sign-in</a>
                        <a businessID="" class="dropdown-item text-capitalize" href="Register-business.html">Register business</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Yellow Pages</a>

                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 fluid" type="search" placeholder="search businesses" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="jumbotron jumbotron-fluid">
        <div class="justify-content-center row">
            <span id="jumbotronMainText" class="h1 text-center col-12 no-gutters mx-auto"></span>
            <span class="text-center">
                <span id="jumbotronSubText" class="jumbotronSubText align-middle"></span>
                <a class="btn text-capitalize jumbotronSubText font-underline" href="#">
                    <u>join us</u>
                </a>
            </span>
        </div>
    </div>

    <!--businessprofile-->

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-7 ">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>User Profile</h4>
                        <a button type="button" class="btn btn-primary btn-sm" href="#">Edit</button>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center">
                                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1"
                                            class="img-circle img-responsive">
                                        <input id="profile-image-upload" class="hidden" type="file">
                                        <div class="profile">click here to change profile image</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 div class="profile1">Amaechi oil servicing company</h4>
                                    </span>
                                    <span>
                                        <p>
                                            <b>business owner</b>
                                        </p>
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="row col-sm-7">
                                    <div class="col-m-5 col-xs-6 tital">First Name:</div>
                                    <div class="col-sm-7">Amaechi</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Middle Name:</div>
                                    <div class="col-sm-7"> Umunnakwe</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
                                    <div class="col-sm-7"> chuks</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Date Of Joining:</div>
                                    <div class="col-sm-7">05 Mar 2018</div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
                                    <div class="col-sm-7">05 Apr 1991</div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Place Of Birth:</div>
                                    <div class="col-sm-7">Nigeria</div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
                                    <div class="col-sm-7">Nigerian</div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital ">Religion:</div>
                                    <div class="col-sm-7">christain</div>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <form>
            <div class="form-group">
                <label for="FormControlFile1">upload a file</label>
                <input type="file" class="form-control-file" id="FormControlFile1">
            </div>
        </form>
        <!--reviews-->

        <!--/.reviews-->

        <!--/.businessprofile-->



        <!--Footer-->
        <footer class="pt-4 mt-4 bg-dark">

            <!--Footer Links-->
            <div class="container-fluid text-center text-md-left">
                <div class="row">

                    <!--First column-->
                    <div class="col-md-6">
                        <h5 id="footerAppTitle" class="text-uppercase weconnect">
                            <span class="we">We</span>Connect</h5>
                        <p>Connecting People... What are you waiting for?</p>
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="col-md-6">
                        <h5 class="text-uppercase">Useful Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#!">Contents Guidelines</a>
                            </li>
                            <li>
                                <a href="#!">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                </div>
            </div>
            <!--/.Footer Links-->
            <hr />
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                <div class="container-fluid">
                        copyright © WeConnect 2018: Developer
                    <span id="copyright"> Amaechi </sp>

                </div>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->



        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- Custom  Javascript -->
        <script src="./js/main.js"></script>

</body>

</html>